<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello, </h1>
    <p>{{session['first_name']}} {{session['last_name']}}</p>
    <p>{{user.first_name}}{{user.last_name}}</p>
    {% with messages = get_flashed_messages() %}     
    {% if messages %}                            
        {% for message in messages %}            
            <p>{{message}}</p>                   
        {% endfor %}
    {% endif %}
    {% endwith %}

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Breed</th>
                <th>Age</th>
                <th>Owner</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for dog in all_dogs %}
            <tr>
                <th>{{dog.name}}</th>
                <td>{{dog.age}}</td>
                <td>{{dog.owner.first_name}}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    
    
    
    
    
    
    
    
    
    
    
    
    <a href="/logout">Logout</a>
    <a href="/new_dog">Create Dog!</a>



</body>
</html>