<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}     
    {% if messages %}                            
    {% for message in messages %}            
    <p>{{message}}</p>                   
    {% endfor %}
    {% endif %}
    {% endwith %}
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>
    <h1>Edit Recipe</h1>
    <h1>Editing: {{ recipe.name }}</h1>
    <form action="/update/{{recipe.id}}" method="POST">
        <label>Name:</label><br>
        <input type="text" name="name" value="{{recipe.name}}"><br>
        <label>Description:</label><br>
        <textarea name="description" value="{{recipe.description}}"></textarea><br>
        <label>Instructions</label><br>
        <textarea name="instructions" value="{{recipe.instructions}}"></textarea><br>
    
        <input type="submit" value="Update">
    
</body>
</html>