<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors and Books</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <a class="btn btn-warning float end mt-2" href="/books">Dashboard</a>
        <h1>Show author page</h1>
        <h1>Info for Author no. <span class="text-info">{{ author.id}}</span></h1>
        <h2>Name:<span class="text-info">{{ author.first_name}}{{ author.last_name}}</span></h2>
        <h2>Books:
            {% for book in author.books %}
            <p><span class="text-info">{{ book.first_name}}</span></p>
            {% endfor %}
        </h2>
    
    </div>
    
</body>
</html>