<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <a href="/project/new">Add a new post</a>
    <a href="/logout">Logout</a>
    <h1>Hello, {{user.first_name}}!!!</h1>
    <a href=""></a>
    
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Description</th><br>
                <th>Picture</th>
            </tr>
        </thead>
        <tbody>
            {% for project in all_projects %}
            <tr>
                <th>{{project.description}}</th>
                
            </tr>
            {% endfor %}
        </tbody> 
    </table>

</body>
</html>