<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity</title>
</head>
<body>
    <a href="/dashboard">Dashboard</a>
    <a href="logout">Logout</a>
    <h1>Event Name: {{ activity.event_name }}</h1>
    <h2>Location:{{ activity.location}}</h2>
    <h2>Description: {{ activity.description }}</h2>
    <h2>Date: {{activity.members}}</h2>
    <!-- <h2>Date: {{activity.time}}</h2> -->
    <h2></h2>
    <h2>Posted By: {{activity.owner.first_name}} {{activity.owner.last_name}}</h2>
    


    
</body>
</html>
</body>
</html>